    body {
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #fffaf5; /* Branco suave */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      color: #4e342e; /* Marrom escuro */
    }

    h1 {
      color: #795548; /* Marrom médio */
      margin-bottom: 1rem;
    }

    .title{
       align-items: center;
       font-size: 3rem;
      justify-content: center;
    }

    #startButton {
      background-color: #d4af37; /* Dourado */
      color: #ffffff;
      border: none;
      padding: 1rem 2rem;
      border-radius: 10px;
      font-size: 1rem;
      cursor: pointer;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      transition: background-color 0.3s ease;
    }


    #stopButton {
      background-color: #FF0000;
      color: #000;
      border: none;
      padding: 1rem 2rem;
      border-radius: 10px;
      font-size: 1rem;
      cursor: pointer;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      transition: background-color 0.3s ease;
    }


    #startButton:hover {
      background-color: #b88a2c;
    }

    #chute {
      margin-top: 2rem;
      text-align: center;
    }

    .box {
      display: inline-block;
      margin-top: 0.5rem;
      padding: 1rem;
      background-color: #fceabb; /* tom claro/dourado */
      border-radius: 8px;
      font-weight: bold;
      color: #3e2723; /* Marrom escuro */
      border: 2px solid #d4af37;
    }
